@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-100 text-gray-800;
  }

  button{
    @apply cursor-pointer bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300;
  }
}

